@import "bourbon";
@import "vars.scss";


@media only screen and (max-width : 1750px){
	.text {
		left: 220px;
	}
	.h3first {
		width: 103%;
	}
	.h3second {
		width: 66%;
	}
	.head-menu {
		background-position: center;
	}
	.head .header-mnu {
		width: 528px;
		padding-left: 6px;
	}
}

@media only screen and (max-width : 1600px){
	.head__content__slider__calls {

	}
	.head__content__slider__logo {

	}
}
@media only screen and (max-width : 1400px){
	.clients__content{
		.clients__content__slider{
			.lSAction{
				.lSPrev{
					left: 10px!important;
				}
				.lSNext {
					right: 15px!important;
				}
			}
		}
	}
	.clients{
		img{
			width: 65%;
		}
	}
}
@media only screen and (max-width : 1210px){
	.works__content__block-right__item{
		display: inline-block;
		margin: 15px 15px;
	}
	.works__content__block__item-long{
		width: 370px;
		height: 355px;
	}
	.works__content__block-right {
		width: 804px;
	}
	.works__content__block__after2{
		&:after{
			width: 370px;
			height: 366px;
		}
	}
	.blockhover2{
		width: 100%;
		height: 25%;
	}
	.blockhover-slide3{
		width: 94%;
		height: 25%;
		bottom: 9px;
	}
	.head__content__slider__calls {
		right: 50px;
	}
	.head__content__slider__logo {
		left: 50px;
	}
	.text {
		left: 30px;
	}
	.head__content__slider {
		img {
			width: 100%;
		}
	}
}
@media only screen and (max-width : 1204px){
	.head__content__slider .lSSlideOuter .lSPager {
		position: absolute;
		left: 300px;
		bottom: -40px;
		z-index: 1;
	}
	.section2__content__item2 {
		br{
			display: none;
		}
	}
	.section2__content__item2 {
		margin-left: 0px;
	}
}
@media only screen and (max-width : 1090px){
	.footer__print{
		display: none;
	}
	.footer-calls {

	}
	footer{
		padding-bottom: 30px;
	}
}
@media only screen and (max-width : 1154px){
	.section2__content__item2 {
	}
	.section2__content__item p {
		font-size: 20px;
	}
}
@media only screen and (max-width : 1135px) {
	.section1 .item-wrap .item-content {
		margin: 74px 80px;
	}
	.section1{
		min-height: 1000px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.section2__content__item p {
		padding-bottom: 15px;
	}
	.head__content__slider__logo {

	}
	.head__content__slider__calls {

	}
	.section1 {
		top: -85px;
	}
  .head__content__slider .lSSlideOuter .lSPager {
    position: absolute;
    left: 239px;
    bottom: -32px;
    z-index: 1;
  }
  .text {
    display: none;
  }
  .wrapper{
		width: auto;
	}
	.pad{
		padding: 50px 5px !important;
	}
	footer{
		text-align: center;
		.wrapper{
			width: auto;
		}
		.gs{
			float: none;
			display: block;
		}
	}
	.section2__content__item2 {
		width: 385px;
	}
	.section2__content__item p {
		font-size: 18px;
	}

}

@media only screen and (max-width: 949px){
	.section1 {
		min-height: 1400px;
	}
	.section1__header {
		margin-top: 205px;
	}
}@media only screen and (max-width: 870px){
  .text{
    display: none;
  }
}
@media only screen and (max-width: 820px){
	.footer-mnu ul li {
		float: none;
	}
  .head__content__slider{
    #slider-header{
      img{
        display: none;
      }
    }
  }
  .section1{
    top: -7px;
  }
  body{
    .head__content__slider{
      position: relative;
      .lSSlideOuter .lSPager{
        display: none;
        li{
          width: 0px;
          height: 0px;
        }
      }
      }
  }
	.head__content__slider__logo {
		position: static;
		width: 225px;
		margin: 30px auto;
		z-index: 0;
	}
  .head__content__slider__calls{
    position: static;
    margin: 0 auto;
    margin-top: 45px;
    z-index: 0;
    p{
      text-align: center;
    }
    .order{
      float: none;
      display: inline-block;
      text-align: center;
      width: 225px;
      margin: 0 auto;
    }
    ul{
		float: none;
      li{
        text-align: center;
      }
    }
  }
	.works__content__block__item-big{
		width: 370px;
		height: 366px;
	}
	.works__content__block__item {
		margin: 15px 16px;
	}
	.works__content__block-right__item {
		margin: 15px 16px;
	}
	.works__content__block__after3{
		&:after{
			width: 370px;
			height: 366px;
		}
	}
	.works__content__block-left {
		width: 400px;
	}
	.works__content__block-right {
		width: 400px;
	}
}
@media only screen and (max-width : 819px) {
	.section2__content__item1{
		display: none;
	}
	.section2__content__item2 {
		width: 88%;
		margin-top: 25px;
	}
	.section2__content__item p {
		font-size: 19px;
		text-align: center;
		margin-left: 0;
		padding-top: 10px;
	}
	.section2{
		padding-bottom: 40px;
	}
	.works{
		top: 0;
	}
	.footer-calls {
		margin-top: 148px;
		margin-left: 24px;
	}
	.footer-logo {
		margin-top: 150px;
	}
}

@media only screen and (max-width : 768px) {
	.row-parent .header-text .headtext {
		margin-left: 0 !important;
	}
	.header-text{
		h1{
			padding: 2px 14px!important;
		}
	}
}

@media only screen and (max-width: 631px){
	.section1 {
		min-height: 2280px;
	}
	.section1__header {
		margin-top: 290px;
	}
}
@media only screen and (max-width: 600px){
	.section2__content__item p {
		font-size: 20px;
	}
}
@media only screen and (max-width: 527px){
	.head .header-mnu {
		width: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.pad{
		padding: 20px 5px !important;
	}
	.section1__header {
		background-size: 100%;
		margin: 0 10px;
		margin-top: 290px;
		width: 93%;
		h3{
			padding-top: 12px;
		}
	}
	.section2__content__item p {
		font-size: 18px;
	}
}

@media only screen and (max-width: 415px){
	.works__content__block {
		margin: 0 0;
	}
	.works__content__block-left {
		width: 300px;
	}
	.works__content__block-right {
		width: 300px;
	}
	.works__content__block__item {
		width: 300px;
		margin: 15px 0px;
	}
	.works__content__block-right__item {
		width: 300px;
		margin: 15px 0px;
	}
	.works__content__block__after1{
		&:after {
			width: 300px;
		}
	}
	.works__content__block__after2{
		&:after {
			width: 300px;
		}
	}
	.works__content__block__after3{
		&:after {
			width: 300px;
		}
	}
}

@media only screen and (max-width: 380px){
	.footer-logo{
		width: 292px;
		margin: auto;
		margin-top: 215px;
	}
	.footer-mnu {
		margin-top: 20px;
		margin-left: 0px;
	}
	.footer-calls {
		margin-top: 45px;
		margin-left: 0px;
	}
}
@media only screen and (max-width: 350px){
	.section1__header h3 {
		padding-top: 6px;
	}
}
