@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"), url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype"); }

@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MyriadPro/MyriadPro.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadPro/MyriadPro.woff) format("woff"), url(../fonts/MyriadPro/MyriadPro.ttf) format("truetype"); }

@font-face {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Cuprum/Cuprum.eot?#iefix) format("embedded-opentype"), url(../fonts/Cuprum/Cuprum.woff) format("woff"), url(../fonts/Cuprum/Cuprum.ttf) format("truetype"); }

@font-face {
  font-family: CuprumBold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CuprumBold/CuprumBold.eot?#iefix) format("embedded-opentype"), url(../fonts/CuprumBold/CuprumBold.woff) format("woff"), url(../fonts/CuprumBold/CuprumBold.ttf) format("truetype"); }

@font-face {
  font-family: CuprumBoldItalic;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CuprumBoldItalic/CuprumBoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/CuprumBoldItalic/CuprumBoldItalic.woff) format("woff"), url(../fonts/CuprumBoldItalic/CuprumBoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Ubuntu/Ubuntu.eot?#iefix) format("embedded-opentype"), url(../fonts/Ubuntu/Ubuntu.woff) format("woff"), url(../fonts/Ubuntu/Ubuntu.ttf) format("truetype"); }
